{
  "openapi": "3.0.1",
  "info": {
    "title": "Connections",
    "description": "Manage the connections used by the datasets.",
    "contact": {
      "name": "Talend"
    },
    "version": "2021-03"
  },
  "servers": [
    {
      "url": "https://api.eu.cloud.talend.com",
      "description": "URL for the AWS Europe region",
      "x-talend": {
        "isPublished": true
      }
    },
    {
      "url": "https://api.ap.cloud.talend.com",
      "description": "URL for the AWS Asia Pacific region",
      "x-talend": {
        "isPublished": true
      }
    },
    {
      "url": "https://api.us.cloud.talend.com",
      "description": "URL for the AWS United States East region",
      "x-talend": {
        "isPublished": true
      }
    },
    {
      "url": "https://api.au.cloud.talend.com",
      "description": "URL for the AWS Australia region",
      "x-talend": {
        "isPublished": true
      }
    },
    {
      "url": "https://api.us-west.cloud.talend.com",
      "description": "URL for the Azure United States West region",
      "x-talend": {
        "isPublished": true
      }
    }
  ],
  "security": [
    {
      "Public": []
    }
  ],
  "paths": {
    "/connections": {
      "get": {
        "tags": [
          "connection"
        ],
        "summary": "Get the list of connections",
        "description": "Use this method to list all the connections that have been created for a given user account.",
        "operationId": "listConnections",
        "parameters": [
          {
            "name": "tqlQuery",
            "in": "query",
            "description": "Filter on dataset's list by using TQL",
            "schema": {
              "type": "string",
              "description": "Filter on dataset's list by using TQL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectionListView"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          }
        }
      }
    },
    "/connections/{connectionId}": {
      "get": {
        "tags": [
          "connection"
        ],
        "summary": "Get a connection",
        "description": "Use this method to get information on a given connection based on its id.",
        "operationId": "get",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "connection"
        ],
        "summary": "Delete a connection",
        "description": "Use this method to delete a given connection based on its id. You cannot delete connections with existing datasets based on it. The datasets must be deleted first.",
        "operationId": "delete",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "403": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorMessageBody"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "connectionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "ConnectionListView": {
        "type": "object",
        "required": [
          "created",
          "datasetsCount",
          "label",
          "sharing",
          "type",
          "updated"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID",
            "example": "61333e88-a7d3-4ee7-bdb9-17c622636c4b"
          },
          "label": {
            "type": "string",
            "description": "Display name of the connection",
            "example": "MySQL Connection 1"
          },
          "type": {
            "type": "string",
            "description": "Identifier for the type of the connection",
            "example": "amRiYy1lZSNKZGJjI2RhdGFzdG9yZSNKZGJjQ29ubmVjdGlvbg"
          },
          "typeLabel": {
            "type": "string",
            "description": "Label for the connection type",
            "example": "JDBC"
          },
          "cloudAgentId": {
            "type": "string",
            "description": "ID of the engine configured for this connection",
            "example": "51b19d72-42cc-4507-96ad-533703bcc140"
          },
          "datasetsCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of datasets using this connection",
            "example": 2
          },
          "entitlements": {
            "type": "array",
            "description": "Intersection of TMC user entitlements and the user sharing entitlements",
            "items": {
              "type": "string",
              "example": "CONNECTION_READ"
            }
          },
          "icon": {
            "type": "string",
            "description": "Icon identifier for this connection, for the user interface display",
            "example": "flow-o"
          },
          "sharing": {
            "$ref": "#/components/schemas/SharingState"
          },
          "tags": {
            "type": "array",
            "description": "List of tags set on this connection",
            "items": {
              "type": "string"
            }
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the creation"
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update"
          },
          "createdBy": {
            "type": "string",
            "description": "ID of the user who created this connection"
          },
          "updatedBy": {
            "type": "string",
            "description": "ID of the user who updated in last this connection"
          }
        }
      },
      "ConnectionResponse": {
        "type": "object",
        "required": [
          "created",
          "datasetsCount",
          "enabled",
          "label",
          "owner",
          "properties",
          "type",
          "updated",
          "version"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID",
            "example": "61333e88-a7d3-4ee7-bdb9-17c622636c4b"
          },
          "label": {
            "type": "string",
            "description": "Display name for the connection",
            "example": "MySQL Connection 1"
          },
          "description": {
            "type": "string",
            "description": "Description of the connection",
            "example": "Connection for the production database"
          },
          "enabled": {
            "type": "boolean",
            "description": "Indicates if this connection is enabled or not"
          },
          "type": {
            "type": "string",
            "description": "Id for the type of the connection",
            "example": "bG9jYWxpbyNMb2NhbElPI2RhdGFzdG9yZSNGaXhlZERhdGFTdG9yZUNvbmZpZ3VyYXRpb24"
          },
          "typeLabel": {
            "type": "string",
            "description": "Label for the type of the connection",
            "example": "Google Cloud Storage"
          },
          "cloudAgentId": {
            "type": "string",
            "description": "Id of the engine configure for the connection"
          },
          "datasetsCount": {
            "type": "integer",
            "format": "int32",
            "description": "Number of datasets using the connection"
          },
          "familyId": {
            "type": "string"
          },
          "icon": {
            "type": "string",
            "description": "Id of the icon used to display this connection"
          },
          "owner": {
            "type": "string",
            "description": "ID of the user who owns this connection"
          },
          "properties": {
            "type": "object",
            "description": "Configuration for this connection"
          },
          "tags": {
            "type": "array",
            "description": "List of tags",
            "items": {
              "type": "string"
            }
          },
          "version": {
            "type": "integer",
            "format": "int64",
            "description": "Technical version of this connection",
            "example": 0
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the creation for this connection"
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update for this connection"
          },
          "createdBy": {
            "type": "string",
            "description": "Id of the user who created the connection"
          },
          "updatedBy": {
            "type": "string",
            "description": "Id of the user who updated in last the connection"
          }
        }
      },
      "CommandSuccess": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "SharingState": {
        "type": "object",
        "required": [
          "isOwner",
          "isSharedWithOthers"
        ],
        "properties": {
          "isOwner": {
            "type": "boolean",
            "description": "Indicates if the current user is owner of the resource"
          },
          "isSharedWithOthers": {
            "type": "boolean",
            "description": "Indicates if the resource is shared with other users or groups"
          }
        }
      },
      "ErrorMessageBody": {
        "type": "object",
        "required": [
          "error",
          "path",
          "status",
          "timestamp"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "exception": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "securitySchemes": {
      "Public": {
        "type": "http",
        "scheme": "bearer",
        "description": "This Bearer authentication can be set in the Authorization header of your requests.\n\nAuthentication tokens and Personal Access Tokens are supported.\n\nPersonal Access Tokens can be generated in the Profile Preferences page of the Talend Cloud Portal.",
        "bearerFormat": "Bearer <token>"
      }
    }
  }
}