{
  "openapi": "3.0.1",
  "info": {
    "title": "Processing",
    "description": "Configure Engines and Clusters, manage and browse executions of your Tasks, Plans and Promotions.",
    "contact": {},
    "version": "2021-03"
  },
  "servers": [
    {
      "url": "https://api.eu.cloud.talend.com",
      "description": "URL for the AWS Europe region",
      "x-talend": {
        "isPublished": true
      }
    },
    {
      "url": "https://api.ap.cloud.talend.com",
      "description": "URL for the AWS Asia Pacific region",
      "x-talend": {
        "isPublished": true
      }
    },
    {
      "url": "https://api.us.cloud.talend.com",
      "description": "URL for the AWS United States East region",
      "x-talend": {
        "isPublished": true
      }
    },
    {
      "url": "https://api.au.cloud.talend.com",
      "description": "URL for the AWS Australia region",
      "x-talend": {
        "isPublished": true
      }
    },
    {
      "url": "https://api.us-west.cloud.talend.com",
      "description": "URL for the Azure United States West region",
      "x-talend": {
        "isPublished": true
      }
    }
  ],
  "security": [
    {
      "Public": []
    }
  ],
  "paths": {
    "/processing/executables/tasks/executions": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "Get Tasks Executions",
        "description": "Get task executions. Available filters are :\n\n* some specific environment as the alternate filter to workspaces\n* some specific workspace as the alternate filter to environments\n* status of execution\n* limit to a number of days in recent history (for example, 1 : yesterday, 5 : past five days)\n* datetime period in the past, not exceeding a 60-day range\n\nAll those parameters are optional and can be combined at your convenience. Note that the workspace should belong to the environment when both filters (environmentId and workspaceId) are specified in the same call.\n\nWhen neither the number of days nor a datetime period is provided, the default 60 days time range is applied.",
        "operationId": "listAvailableTasksExecutions",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Time period filter start date time (milliseconds).    \nWith the `from` and `to` time period filters, the executions to be included in the response are:\n* Executions that started within the specified timeframe between `from` and `to`.\n* Executions that ended within the specified timeframe between `from` and `to`.\n* Executions that started and ended within the specified timeframe between `from` and `to`.\n* Executions that ran throughout the entire specified timeframe between `from` and `to`.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Time period filter start date time (milliseconds).    \nWith the `from` and `to` time period filters, the executions to be included in the response are:\n* Executions that started within the specified timeframe between `from` and `to`.\n* Executions that ended within the specified timeframe between `from` and `to`.\n* Executions that started and ended within the specified timeframe between `from` and `to`.\n* Executions that ran throughout the entire specified timeframe between `from` and `to`."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Position of the first item. Must be greater than or equal to 0. Default value - 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Position of the first item. Must be greater than or equal to 0. Default value - 0"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Time period filter end date time (milliseconds).    \nWith the `from` and `to` time period filters, the executions to be included in the response are:\n* Executions that started within the specified timeframe between `from` and `to`.\n* Executions that ended within the specified timeframe between `from` and `to`.\n* Executions that started and ended within the specified timeframe between `from` and `to`.\n* Executions that ran throughout the entire specified timeframe between `from` and `to`.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Time period filter end date time (milliseconds).    \nWith the `from` and `to` time period filters, the executions to be included in the response are:\n* Executions that started within the specified timeframe between `from` and `to`.\n* Executions that ended within the specified timeframe between `from` and `to`.\n* Executions that started and ended within the specified timeframe between `from` and `to`.\n* Executions that ran throughout the entire specified timeframe between `from` and `to`."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "Workspace filter",
            "schema": {
              "type": "string",
              "description": "Workspace filter"
            },
            "example": "6148511d6ccc6d41563574e5"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return. Must be in range [1, 100]. Default value - 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return. Must be in range [1, 100]. Default value - 100"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter on status of execution:\n| Status                | Execution status                                                                 |\n|-----------------------|----------------------------------------------------------------------------|\n| dispatching           | EXECUTION_EVENT_RECEIVED, DISPATCHING_FLOW                                |\n| deploy_failed         | DEPLOY_FAILED                                                             |\n| executing             | STARTING_FLOW_EXECUTION                                                   |\n| execution_successful  | EXECUTION_SUCCESS                                                         |\n| execution_rejected    | EXECUTION_REJECTED                                                        |\n| execution_failed      | EXECUTION_FAILED                                                          |\n| terminated            | EXECUTION_TERMINATED with **any sub status**                              |\n| terminated_timeout    | EXECUTION_TERMINATED with **sub status TIMEOUT**                                 |\n| terminated_shutdown   | EXECUTION_TERMINATED with **sub status SHUTDOWN**                                |\n\n<br>",
            "schema": {
              "type": "string",
              "description": "Filter on status of execution:\n| Status                | Execution status                                                                 |\n|-----------------------|----------------------------------------------------------------------------|\n| dispatching           | EXECUTION_EVENT_RECEIVED, DISPATCHING_FLOW                                |\n| deploy_failed         | DEPLOY_FAILED                                                             |\n| executing             | STARTING_FLOW_EXECUTION                                                   |\n| execution_successful  | EXECUTION_SUCCESS                                                         |\n| execution_rejected    | EXECUTION_REJECTED                                                        |\n| execution_failed      | EXECUTION_FAILED                                                          |\n| terminated            | EXECUTION_TERMINATED with **any sub status**                              |\n| terminated_timeout    | EXECUTION_TERMINATED with **sub status TIMEOUT**                                 |\n| terminated_shutdown   | EXECUTION_TERMINATED with **sub status SHUTDOWN**                                |\n\n<br>",
              "enum": [
                "dispatching",
                "deploy_failed",
                "executing",
                "execution_successful",
                "execution_rejected",
                "execution_failed",
                "terminated",
                "terminated_timeout",
                "terminated_shutdown"
              ]
            }
          },
          {
            "name": "environmentId",
            "in": "query",
            "description": "Environment filter",
            "schema": {
              "type": "string",
              "description": "Environment filter"
            },
            "example": "6148511d6ccc6d41563574e1"
          },
          {
            "name": "lastDays",
            "in": "query",
            "description": "Number of days in the past. Must be in range [1, 60]. Default value - 60",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of days in the past. Must be in range [1, 60]. Default value - 60"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageTaskExecutionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tasks"
        ],
        "summary": "Get available task executions",
        "description": "\nGet available task executions. Available filters are :\n\n* some specific environment as the alternate filter to workspaces\n* some specific workspace as the alternate filter to environments\n*  status of execution\n* tags associated with tasks : when multiple tags are provided, each of them will be used as a filter, that is to say, the logical AND is applied\n* limit to a number of days in recent history (for example, 1 : yesterday, 5 : past five days)\n* datetime period in the past, not exceeding a 60-day range\n\nAll those parameters are optional and can be combined at your convenience. Note that the workspace should belong to the environment when both filters (environmentId and workspaceId) are specified in the same call.\n\nWhen neither the number of days nor a datetime period is provided, the default 60 days time range is applied.",
        "operationId": "listAvailableTasksExecutionsWithTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskExecutionsFilters"
              },
              "example": "{\n  \"limit\": 100,\n  \"offset\": 10,\n  \"status\": \"executing\",\n  \"from\": 1646159400000,\n  \"to\": 1649183400000,\n  \"lastDays\": 10,\n  \"environmentId\": \"57f64991e4b0b689a64feed3\",\n  \"workspaceId\": \"57f64991e4b0b689a64feed2\",\n  \"tags\": [\n    \"critical\",\n    \"finance-eu\"\n  ]\n}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageTaskExecutionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "x-talend": {
        "section": "Task Executions"
      }
    },
    "/processing/executables/tasks/{taskId}/executions": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "Get Task Executions",
        "description": "Get task executions",
        "operationId": "listTaskExecutions",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Time period filter start date time (milliseconds).    \nWith the `from` and `to` time period filters, the executions to be included in the response are:\n* Executions that started within the specified timeframe between `from` and `to`.\n* Executions that ended within the specified timeframe between `from` and `to`.\n* Executions that started and ended within the specified timeframe between `from` and `to`.\n* Executions that ran throughout the entire specified timeframe between `from` and `to`.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Time period filter start date time (milliseconds).    \nWith the `from` and `to` time period filters, the executions to be included in the response are:\n* Executions that started within the specified timeframe between `from` and `to`.\n* Executions that ended within the specified timeframe between `from` and `to`.\n* Executions that started and ended within the specified timeframe between `from` and `to`.\n* Executions that ran throughout the entire specified timeframe between `from` and `to`."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "the position of the first item. Must be greater than or equal to 0. Default value - 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "the position of the first item. Must be greater than or equal to 0. Default value - 0"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Time period filter end date time (milliseconds).    \nWith the `from` and `to` time period filters, the executions to be included in the response are:\n* Executions that started within the specified timeframe between `from` and `to`.\n* Executions that ended within the specified timeframe between `from` and `to`.\n* Executions that started and ended within the specified timeframe between `from` and `to`.\n* Executions that ran throughout the entire specified timeframe between `from` and `to`.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Time period filter end date time (milliseconds).    \nWith the `from` and `to` time period filters, the executions to be included in the response are:\n* Executions that started within the specified timeframe between `from` and `to`.\n* Executions that ended within the specified timeframe between `from` and `to`.\n* Executions that started and ended within the specified timeframe between `from` and `to`.\n* Executions that ran throughout the entire specified timeframe between `from` and `to`."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "the number of items to return. Must be in range [1, 100]. Default value - 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "the number of items to return. Must be in range [1, 100]. Default value - 100"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Execution status:\n| Status                | Execution status                                                                 |\n|-----------------------|----------------------------------------------------------------------------|\n| dispatching           | EXECUTION_EVENT_RECEIVED, DISPATCHING_FLOW                                |\n| deploy_failed         | DEPLOY_FAILED                                                             |\n| executing             | STARTING_FLOW_EXECUTION                                                   |\n| execution_successful  | EXECUTION_SUCCESS                                                         |\n| execution_rejected    | EXECUTION_REJECTED                                                        |\n| execution_failed      | EXECUTION_FAILED                                                          |\n| terminated            | EXECUTION_TERMINATED with **any sub status**                              |\n| terminated_timeout    | EXECUTION_TERMINATED with **sub status TIMEOUT**                                 |\n| terminated_shutdown   | EXECUTION_TERMINATED with **sub status SHUTDOWN**                                |\n\n<br>",
            "schema": {
              "type": "string",
              "description": "Execution status:\n| Status                | Execution status                                                                 |\n|-----------------------|----------------------------------------------------------------------------|\n| dispatching           | EXECUTION_EVENT_RECEIVED, DISPATCHING_FLOW                                |\n| deploy_failed         | DEPLOY_FAILED                                                             |\n| executing             | STARTING_FLOW_EXECUTION                                                   |\n| execution_successful  | EXECUTION_SUCCESS                                                         |\n| execution_rejected    | EXECUTION_REJECTED                                                        |\n| execution_failed      | EXECUTION_FAILED                                                          |\n| terminated            | EXECUTION_TERMINATED with **any sub status**                              |\n| terminated_timeout    | EXECUTION_TERMINATED with **sub status TIMEOUT**                                 |\n| terminated_shutdown   | EXECUTION_TERMINATED with **sub status SHUTDOWN**                                |\n\n<br>",
              "enum": [
                "dispatching",
                "deploy_failed",
                "executing",
                "execution_successful",
                "execution_rejected",
                "execution_failed",
                "terminated",
                "terminated_timeout",
                "terminated_shutdown"
              ]
            }
          },
          {
            "name": "lastDays",
            "in": "query",
            "description": "Number of days in the past. Must be in range [1, 60]. Default value - 60",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of days in the past. Must be in range [1, 60]. Default value - 60"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageTaskExecutionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "taskId",
          "in": "path",
          "required": true,
          "description": "task ID",
          "schema": {
            "type": "string",
            "description": "task ID"
          }
        }
      ],
      "x-talend": {
        "section": "Task Executions"
      }
    },
    "/processing/executions": {
      "post": {
        "tags": [
          "executions"
        ],
        "summary": "Execute Task",
        "description": "Execute Task",
        "operationId": "execute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Executabletask"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Execution started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Executionidentifier"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Current Task is paused, it can't be executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error - something went wrong on server side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Task cannot be deployed because it is not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "x-talend": {
        "section": "Task Executions"
      }
    },
    "/processing/executions/{executionId}": {
      "get": {
        "tags": [
          "executions"
        ],
        "summary": "Get Task execution status",
        "description": "Get Task execution status",
        "operationId": "getTaskExecutionStatus",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobExecutionStatusV21"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error - something went wrong on server side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "executions"
        ],
        "summary": "Terminate Task execution",
        "description": "Terminate Task execution",
        "operationId": "stopExecution",
        "responses": {
          "204": {
            "description": "Execution stopped succesfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error - something went wrong on server side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "executionId",
          "in": "path",
          "required": true,
          "description": "execution ID",
          "schema": {
            "type": "string",
            "description": "execution ID"
          }
        }
      ],
      "x-talend": {
        "section": "Task Executions"
      }
    },
    "/processing/executions/plans": {
      "post": {
        "tags": [
          "plans :: executions"
        ],
        "summary": "Execute Plan",
        "description": "Allows to run a Plan. \n\nThis endpoint also allows for re-running some plan execution from some failed step : you should then provide execution id and step from which you wish to restart execution. ",
        "operationId": "executePlan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanExecutable"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Execution started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Executionidentifier"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Plan is paused, it can’t be executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Entity exists but cannot be processed, because too old or plan exec didn't fail ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error - something went wrong on server side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Plan cannot be deployed because it is not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "x-talend": {
        "section": "Plan Executions"
      }
    },
    "/processing/executables/plans/executions": {
      "get": {
        "tags": [
          "plans :: executions"
        ],
        "summary": "Get available Plans executions",
        "description": "List all plan executions the user is granted visibility on. \nFor each plan execution returns execution and plan identifiers, start and finish timestamps, execution status and counters on done and planned executables within plan. \nThis query is paginated and accepts filters as defined in parameters documented above. ",
        "operationId": "listAvailablePlansExecutions",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "from date time (milliseconds)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "from date time (milliseconds)"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "the position of the first item. Must be greater than or equal to 0. Default value - 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "the position of the first item. Must be greater than or equal to 0. Default value - 0"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "to date time (milliseconds)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "to date time (milliseconds)"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "description": "workspace ID the plans should belong to",
            "schema": {
              "type": "string",
              "description": "workspace ID the plans should belong to"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "the number of items to return. Must be in range [1, 100]. Default value - 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "the number of items to return. Must be in range [1, 100]. Default value - 100"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "execution status",
            "schema": {
              "type": "string",
              "description": "execution status",
              "enum": [
                "executing",
                "execution_successful",
                "execution_failed",
                "execution_misfired"
              ]
            }
          },
          {
            "name": "environmentId",
            "in": "query",
            "description": "environment ID the plans should belong to",
            "schema": {
              "type": "string",
              "description": "environment ID the plans should belong to"
            }
          },
          {
            "name": "lastDays",
            "in": "query",
            "description": "lastDays",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "lastDays"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagePlanExecutionStatus"
                },
                "example": "{\n  \"items\": [\n    {\n      \"executionId\": \"7fb48c7a-5ea5-4cb9-9333-e345f28d9dd5\",\n      \"startTimestamp\": \"2022-10-20T14:20:28.582Z\",\n      \"finishTimestamp\": \"2022-10-20T14:20:39.830Z\",\n      \"planId\": \"e7734729-cf3d-4578-939c-30381e95cd10\",\n      \"executionStatus\": \"EXECUTION_SUCCESS\",\n      \"plannedExecutableCount\": 1,\n      \"doneExecutableCount\": 1,\n      \"status\": \"execution_successful\"\n    },\n    {\n      \"executionId\": \"dc57c82f-7f18-4228-9f82-a81e02bae617\",\n      \"startTimestamp\": \"2022-10-20T14:17:56.390Z\",\n      \"finishTimestamp\": \"2022-10-20T14:18:07.865Z\",\n      \"planId\": \"e7734729-cf3d-4578-939c-30381e95cd10\",\n      \"executionStatus\": \"EXECUTION_SUCCESS\",\n      \"plannedExecutableCount\": 1,\n      \"doneExecutableCount\": 1,\n      \"status\": \"execution_successful\"\n    },\n    {\n      \"executionId\": \"4555c45f-9548-41e9-98b4-a9bfa2ee4e5c\",\n      \"startTimestamp\": \"2022-10-20T13:47:37.611Z\",\n      \"finishTimestamp\": \"2022-10-20T13:47:48.864Z\",\n      \"planId\": \"e7734729-cf3d-4578-939c-30381e95cd10\",\n      \"executionStatus\": \"EXECUTION_SUCCESS\",\n      \"plannedExecutableCount\": 1,\n      \"doneExecutableCount\": 1,\n      \"status\": \"execution_successful\"\n    },\n    {\n      \"executionId\": \"f3cfb077-2ea6-4557-bbb2-fd027f3cae4e\",\n      \"startTimestamp\": \"2022-10-20T13:45:04.027Z\",\n      \"finishTimestamp\": \"2022-10-20T13:45:15.929Z\",\n      \"planId\": \"e7734729-cf3d-4578-939c-30381e95cd10\",\n      \"executionStatus\": \"EXECUTION_SUCCESS\",\n      \"plannedExecutableCount\": 1,\n      \"doneExecutableCount\": 1,\n      \"status\": \"execution_successful\"\n    },\n    {\n      \"executionId\": \"b668cd50-6421-4e57-b15a-79b39ac153a8\",\n      \"startTimestamp\": \"2022-10-20T13:18:01.235Z\",\n      \"finishTimestamp\": \"2022-10-20T13:18:16.093Z\",\n      \"planId\": \"e7734729-cf3d-4578-939c-30381e95cd10\",\n      \"executionStatus\": \"EXECUTION_FAILED\",\n      \"plannedExecutableCount\": 1,\n      \"doneExecutableCount\": 1,\n      \"status\": \"execution_failed\"\n    },\n    {\n      \"executionId\": \"226dc12c-a288-4fe0-96f6-f6d51fa2b9ff\",\n      \"startTimestamp\": \"2022-10-20T12:08:48.823Z\",\n      \"finishTimestamp\": \"2022-10-20T12:18:52.729Z\",\n      \"planId\": \"e7734729-cf3d-4578-939c-30381e95cd10\",\n      \"executionStatus\": \"EXECUTION_SUCCESS\",\n      \"plannedExecutableCount\": 1,\n      \"doneExecutableCount\": 1,\n      \"status\": \"execution_successful\"\n    }\n  ],\n  \"limit\": 100,\n  \"offset\": 0,\n  \"total\": 6\n}"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "x-talend": {
        "section": "Plan Executions"
      }
    },
    "/processing/executions/plans/{planExecutionId}/steps": {
      "get": {
        "tags": [
          "plans :: executions"
        ],
        "summary": "Get all steps for a plan execution (order by designed execution, only steps, without error handlers)",
        "description": "Get Steps executions status",
        "operationId": "getAllStepExecutions",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StepExecution"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error - something went wrong on server side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "planExecutionId",
          "in": "path",
          "required": true,
          "description": "Plan execution ID",
          "schema": {
            "type": "string",
            "description": "Plan execution ID"
          }
        }
      ],
      "x-talend": {
        "section": "Plan Executions"
      }
    },
    "/processing/executables/plans/{planId}/executions": {
      "get": {
        "tags": [
          "plans :: executions"
        ],
        "summary": "Get Plan executions",
        "description": "Get Plan executions",
        "operationId": "listPlanExecutions",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "from date time (milliseconds)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "from date time (milliseconds)"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "the position of the first item. Must be greater than or equal to 0. Default value - 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "the position of the first item. Must be greater than or equal to 0. Default value - 0"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "to date time (milliseconds)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "to date time (milliseconds)"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "the number of items to return. Must be in range [1, 100]. Default value - 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "the number of items to return. Must be in range [1, 100]. Default value - 100"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "execution status",
            "schema": {
              "type": "string",
              "description": "execution status",
              "enum": [
                "executing",
                "execution_successful",
                "execution_failed",
                "execution_misfired"
              ]
            }
          },
          {
            "name": "lastDays",
            "in": "query",
            "description": "lastDays",
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "lastDays"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagePlanExecutionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "planId",
          "in": "path",
          "required": true,
          "description": "plan ID",
          "schema": {
            "type": "string",
            "description": "plan ID"
          }
        }
      ],
      "x-talend": {
        "section": "Plan Executions"
      }
    },
    "/processing/executions/plans/{planExecutionId}": {
      "get": {
        "tags": [
          "plans :: executions"
        ],
        "summary": "Get Plan Execution status",
        "description": "Get detailed status of one plan execution  ",
        "operationId": "getPlanExecution",
        "responses": {
          "200": {
            "description": "Detailed status on one Platform execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanExecutionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Permissions required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Execution not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Status 429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong on server side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "planExecutionId",
          "in": "path",
          "required": true,
          "description": "Execution id",
          "schema": {
            "type": "string",
            "description": "Execution id"
          }
        }
      ],
      "x-talend": {
        "section": "Plan Executions"
      }
    },
    "/processing/executions/plans/{planExecutionId}/steps/{stepExecutionId}": {
      "get": {
        "tags": [
          "plans :: executions"
        ],
        "summary": "Get the step for plan execution without error handlers",
        "description": "Get Step execution status",
        "operationId": "getStepExecution",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepExecutionDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error - something went wrong on server side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "planExecutionId",
          "in": "path",
          "required": true,
          "description": "Plan execution ID",
          "schema": {
            "type": "string",
            "description": "Plan execution ID"
          }
        },
        {
          "name": "stepExecutionId",
          "in": "path",
          "required": true,
          "description": "Step execution ID",
          "schema": {
            "type": "string",
            "description": "Step execution ID"
          }
        }
      ],
      "x-talend": {
        "section": "Plan Executions"
      }
    },
    "/processing/executions/plans/{planExecutionId}/steps/{stepExecutionId}/error-handler": {
      "get": {
        "tags": [
          "plans :: executions"
        ],
        "summary": "Get execution status of the handler for the specified step",
        "description": "Get Step handler execution status",
        "operationId": "getStepHandlerExecution",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepExecutionDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no permissions to access resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error - something went wrong on server side",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "planExecutionId",
          "in": "path",
          "required": true,
          "description": "Plan execution ID",
          "schema": {
            "type": "string",
            "description": "Plan execution ID"
          }
        },
        {
          "name": "stepExecutionId",
          "in": "path",
          "required": true,
          "description": "Step execution ID",
          "schema": {
            "type": "string",
            "description": "Step execution ID"
          }
        }
      ],
      "x-talend": {
        "section": "Plan Executions"
      }
    },
    "/processing/executions/promotions": {
      "post": {
        "tags": [
          "promotions :: executions"
        ],
        "summary": "Execute a Promotion",
        "description": "Execute a Promotion from source Environment to target one, according to all the default configuration set on Tasks.  \n\nDetailed rules on promotion executions are available here : https://help.talend.com/r/en-US/Cloud/management-console-user-guide/promotion-rules\n\nIn addition to these rules, current execution can be adapted as such : \n* Default scope of Promotion is the whole environment. When narrower scope (Workspace, Task, etc.) please provide advanced option parameter accordingly. \n* Run Profiles and Resources are defaulty updated on target. You can also choose to keep them untouched using parameters. \n\nLastly, [promotion simulation and analysis](/apis/orchestration/2021-03/#operation_perform-promotion-analysis) is also available: helpful when check before exec is needed. Automatic-undo of a promotion execution is not provided. \n",
        "operationId": "executePromotion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotionExecutableTaskV26"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Execution success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Execution"
                }
              }
            }
          },
          "202": {
            "description": "Execution started"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Promotions can't be executed because it has errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "x-talend": {
        "section": "Promotion Executions"
      }
    },
    "/processing/executions/promotions/{executionId}": {
      "get": {
        "tags": [
          "promotions :: executions"
        ],
        "summary": "Get Promotion execution status",
        "description": "Get Promotion execution status",
        "operationId": "getPromotionExecutionStatus",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionExecutionStatusV26"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "executionId",
          "in": "path",
          "required": true,
          "description": "Execution ID",
          "schema": {
            "type": "string",
            "description": "Execution ID"
          }
        }
      ],
      "x-talend": {
        "section": "Promotion Executions"
      }
    },
    "/processing/runtimes/remote-engines": {
      "get": {
        "tags": [
          "runtime :: engines"
        ],
        "summary": "Get all (available) Remote Engines",
        "description": "Get all (available) Remote Engines",
        "operationId": "getRemoteEngines",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "search query (FIQL format)",
            "schema": {
              "type": "string",
              "description": "search query (FIQL format)"
            },
            "example": "workspace.environment.id==5cb47ca4b1b5247f6006529e"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Engine"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "runtime :: engines"
        ],
        "summary": "Create new Remote Engine",
        "description": "Create new Remote Engine",
        "operationId": "createRemoteEngine",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EngineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Engine"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "x-talend": {
        "section": "Remote Engines"
      }
    },
    "/processing/runtimes/remote-engines/{id}": {
      "get": {
        "tags": [
          "runtime :: engines"
        ],
        "summary": "Get Remote Engine by id",
        "description": "Get Remote Engine by id",
        "operationId": "getRemoteEngine",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Engine"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "runtime :: engines"
        ],
        "summary": "Delete Remote Engine by id",
        "description": "Delete Remote Engine by id",
        "operationId": "deleteRemoteEngine",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "remote engine id",
          "schema": {
            "type": "string",
            "description": "remote engine id"
          }
        }
      ],
      "x-talend": {
        "section": "Remote Engines"
      }
    },
    "/processing/runtimes/remote-engines/{id}/pairing": {
      "delete": {
        "tags": [
          "runtime :: engines"
        ],
        "summary": "Unpair Remote Engine",
        "description": "Unpair Remote Engine.\n\nIf data service tasks and Route tasks are available in your license, you can maintain OSGi Data Services as deployed while upgrading your Remote Engine, without need to undeploy and redeploy those services. See [Upgrading Remote Engine v2.11.8 onwards for data service Job or Route tasks](https://help.talend.com/r/en-US/Cloud/installation-guide-linux/upgrading-remote-engine-for-esb-tasks) for more details about this specific upgrade process.  ",
        "operationId": "unpairRemoteEngine",
        "parameters": [
          {
            "name": "keepOsgiDeployments",
            "in": "query",
            "description": "Boolean to indicate if OSGi Routes or data services should be kept as deployed while unpairing - used for Remote Engine upgrade with data service tasks and Route tasks only",
            "schema": {
              "type": "boolean",
              "description": "Boolean to indicate if OSGi Routes or data services should be kept as deployed while unpairing - used for Remote Engine upgrade with data service tasks and Route tasks only"
            }
          },
          {
            "name": "keepMicroserviceDeployments",
            "in": "query",
            "description": "Boolean to indicate if microservice Routes or data services should be kept as deployed while unpairing - used for Remote Engine upgrade with data service tasks and Route tasks only",
            "schema": {
              "type": "boolean",
              "description": "Boolean to indicate if microservice Routes or data services should be kept as deployed while unpairing - used for Remote Engine upgrade with data service tasks and Route tasks only"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "remote engine id",
          "schema": {
            "type": "string",
            "description": "remote engine id"
          }
        }
      ],
      "x-talend": {
        "section": "Remote Engines"
      }
    },
    "/processing/runtimes/remote-engines/{engineId}/run-profiles": {
      "get": {
        "tags": [
          "runtime :: engines :: run-profiles"
        ],
        "summary": "Get all engine run profiles",
        "description": "Get all engine run profiles",
        "operationId": "getEngineRunProfiles",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "JOB_SERVER",
                "MICROSERVICE",
                "TALEND_RUNTIME"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RuntimeRunProfile"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Engine not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "runtime :: engines :: run-profiles"
        ],
        "summary": "Create engine run profile",
        "description": "Create engine run profile",
        "operationId": "createEngineRunProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunProfileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeRunProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad run profile definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No engine can be found by provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Run profile with corresponding name already exists for given runtime",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "engineId",
          "in": "path",
          "required": true,
          "description": "remote engine id",
          "schema": {
            "type": "string",
            "description": "remote engine id"
          }
        }
      ],
      "x-talend": {
        "section": "Remote Engines"
      }
    },
    "/processing/runtimes/remote-engines/{engineId}/run-profiles/{runProfileId}": {
      "get": {
        "tags": [
          "runtime :: engines :: run-profiles"
        ],
        "summary": "Get engine run profile by id",
        "description": "Get engine run profile by id",
        "operationId": "getEngineRunProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeRunProfile"
                }
              }
            }
          },
          "401": {
            "description": "Status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "runtime :: engines :: run-profiles"
        ],
        "summary": "Update engine run profile",
        "description": "Update engine run profile",
        "operationId": "updateEngineRunProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeRunProfile"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "runtime :: engines :: run-profiles"
        ],
        "summary": "Delete engine run profile",
        "description": "Delete engine run profile. \n\nWhen in use in some task configuration, deletion is aborted unless you provided some new Run Profile id to use. It that latter case, tasks will be using this other Run Profile and the original Run Profile would be deleted. ",
        "operationId": "deleteEngineRunProfile",
        "parameters": [
          {
            "name": "newRunProfileId",
            "in": "query",
            "description": "new run profile id to use in tasks",
            "schema": {
              "type": "string",
              "description": "new run profile id to use in tasks"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Run Profile deleted.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No run profile can be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Run Profile is in use in some task configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "engineId",
          "in": "path",
          "required": true,
          "description": "remote engine id",
          "schema": {
            "type": "string",
            "description": "remote engine id"
          }
        },
        {
          "name": "runProfileId",
          "in": "path",
          "required": true,
          "description": "run profile id",
          "schema": {
            "type": "string",
            "description": "run profile id"
          }
        }
      ],
      "x-talend": {
        "section": "Remote Engines"
      }
    },
    "/processing/runtimes/remote-engines/{remoteEngineId}/debug": {
      "put": {
        "summary": "Update engine debug information",
        "description": "Update engine debug information",
        "requestBody": {
          "description": "Debug Remote Engine Parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Debug Remote Engine Parameters",
                "properties": {
                  "host": {
                    "type": "string",
                    "description": "Host IP"
                  },
                  "isDebugModeOn": {
                    "type": "boolean",
                    "description": "Is debug mode on"
                  }
                }
              },
              "example": "{\n  \"host\":\"1.1.1.1\",\n  \"isDebugModeOn\": \"true\"\n}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Engine Debug Information Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Engine"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "remoteEngineId",
          "in": "path",
          "required": true,
          "description": "Remote Engine ID",
          "schema": {
            "type": "string",
            "description": "Remote Engine ID"
          }
        }
      ],
      "x-talend": {
        "section": "Remote Engines"
      }
    },
    "/processing/runtimes/remote-engine-clusters": {
      "get": {
        "tags": [
          "runtime :: clusters"
        ],
        "summary": "Get all (available) Remote Engine Clusters",
        "description": "Get all (available) Remote Engine Clusters",
        "operationId": "getEngineClustersAvailable",
        "parameters": [
          {
            "name": "_s",
            "in": "query",
            "description": "search query (FIQL format), e.g. \"workspace.environment.id==5cb47ca4b1b5247f6006529e\",\"name==NewCluster\"",
            "schema": {
              "type": "string",
              "description": "search query (FIQL format), e.g. \"workspace.environment.id==5cb47ca4b1b5247f6006529e\",\"name==NewCluster\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseEngine"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "runtime :: clusters"
        ],
        "summary": "Create Remote Engine Cluster",
        "description": "Create Remote Engine Cluster",
        "operationId": "createRemoteEngineCluster",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineCluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "x-talend": {
        "section": "Remote Engine Clusters"
      }
    },
    "/processing/runtimes/remote-engine-clusters/{clusterId}": {
      "get": {
        "tags": [
          "runtime :: clusters"
        ],
        "summary": "Get Remote Engine Cluster by id",
        "description": "Get Remote Engine Cluster by id",
        "operationId": "getRemoteEngineCluster",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineCluster"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "runtime :: clusters"
        ],
        "summary": "Delete Remote Engine Cluster by id",
        "description": "Delete Remote Engine Cluster by id",
        "operationId": "deleteRemoteEngineCluster",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "clusterId",
          "in": "path",
          "required": true,
          "description": "remote engine cluster id",
          "schema": {
            "type": "string",
            "description": "remote engine cluster id"
          }
        }
      ],
      "x-talend": {
        "section": "Remote Engine Clusters"
      }
    },
    "/processing/runtimes/remote-engine-clusters/{clusterId}/engines/{engineId}": {
      "put": {
        "tags": [
          "runtime :: clusters"
        ],
        "summary": "Add Remote Engine to Remote Engine Cluster",
        "description": "Add Remote Engine to Remote Engine Cluster",
        "operationId": "addRemoteEngineToCluster",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunProfileRescheduleOptions"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "runtime :: clusters"
        ],
        "summary": "Remove Remote Engine from Remote Engine Cluster",
        "description": "Remove Remote Engine from Remote Engine Cluster",
        "operationId": "removeRemoteEngineFromCluster",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
[...]
